h1{
 background-color: #333;
 color:#bbbbbb;
 font: 4em normal Arial, Helvetica, sans-serif;
 padding: 10px;	margin: 0;
 text-align: center;
}
h2{
 text-align: center;
 font-family: Geneva, Verdana, sans-serif;
 background-color: #abde04;
 color: white;
 padding: 20px;	margin: 0; 
 border-bottom: 2px silver dotted;
 min-height: 10px;
 margin-bottom: 0;
 margin-top: 0;
 border: 3px #FFF groove;
 box-shadow:0px 0px 3px rgba(0, 0, 0, 0.5);
 -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.5);
 -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.5);
 -o-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.5);
 -khtml-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.5);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  font-family: Geneva, Verdana, sans-serif;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #00848A;
 min-height: 10px;
 margin-bottom: 0;
 margin-top: 0;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  padding: 50px 0px 50px 0px;
  font-family: Geneva, Verdana, sans-serif;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  height:100px;
  width:200px; 
}
